<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=540, user-scalable=no">
        <link rel="icon" href="/../../../../images/logo.ico" />
        <link rel="stylesheet" href="/../../../../styles/style-join.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <title>emile.io</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="message">PLAYER ALREADY CONNECTED</div>
            <div id="description">PLEASE CHANGE NAME OR ROOM TO CONTINUE</div>

            <div id="login">
                <div id="name">
                    <input type="text" id="name-input" placeholder="PLAYER NAME"/>
                    <div id="name-foot"></div>
                </div>

                <div id="room">
                    <input type="text" id="room-input" placeholder="ROOM NAME"/>
                    <div id="room-foot"></div>
                </div>

                <div id="play">
                    <button id="play-button">PLAY</button>
                </div>
            </div>
        </div>

        <script src="/../../../../javascript/join-event.js"></script>
    </body>
</html>
