<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emile</title>
    <link rel="stylesheet" href="./../../../../styles/style-game.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </head>
  <body>

    <div id="inputer" style="font-family: CabinRegular;">
        <p><strong>Current player:</strong></p><p id="currentPlayerName"></p>
        <br />
        <p>Enter desired score here!</p>
        <input id="inputDeltaScore" type="text" placeholder="+/- ?">
        <button id="sendDeltaScore">Send!</button>
    </div>

    <div id="threeer"></div>

    <script src="/../../../../src/js/three.min.js"></script>

    <!-- three.js scripts -->
		<script src="/../../../../src/js/fx/EffectComposer.js"></script>

		<script src="/../../../../src/js/fx/RenderPass.js"></script>
		<script src="/../../../../src/js/fx/ShaderPass.js"></script>
		<script src="/../../../../src/js/fx/OutlinePass.js"></script>
		<script src="/../../../../src/js/fx/SAOPass.js"></script>
		<script src="/../../../../src/js/fx/SMAAPass.js"></script>
		<script src="/../../../../src/js/fx/MaskPass.js"></script>

		<script src="/../../../../src/js/fx/CopyShader.js"></script>
		<script src="/../../../../src/js/fx/DepthLimitedBlurShader.js"></script>
		<script src="/../../../../src/js/fx/UnpackDepthRGBAShader.js"></script>
		<script src="/../../../../src/js/fx/SMAAShader.js"></script>
		<script src="/../../../../src/js/fx/SAOShader.js"></script>
    <!-- end of three.js scripts -->

    <!-- imports for the main script -->
    <script src="/../../../../scripts/communications.js"></script>
    <script src="/../../../../scripts/handlers.js"></script>
    <script src="/../../../../scripts/initializers.js"></script>
    <script src="/../../../../scripts/updaters.js"></script>
    <!-- end of imports for the main script -->

    <!-- MAIN SCRIPT -->
    <script src="/../../../../scripts/render.js"></script>
  </body>
</html>
