@font-face {
    font-family: "gill";
    src: url("/../../../../styles/gill.ttf") format("truetype");
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    font-family: "gill";
    margin: 0;
    overflow: hidden;
    -webkit-animation: appear 2s;
    background-color: #050505;
}

#game-end {
    position: absolute;
    color: rgb(200, 200, 200);
    margin-top: 100px;
    height: 300px;
    width: 300px;
    left: 50%;
    margin-top: 140px;
    font-size: 36px;
    letter-spacing: 8px;
    text-align: center;
    padding-top: 20px;
    transform: translate(-50%);
    z-index: 3;
    visibility: hidden;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
}

#results {
    padding-top: 20px;
    font-size: 28px;
    letter-spacing: 6px;
}

#game-status {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    padding-left: 10px;
    font-family: inherit;
    color: rgb(200, 200, 200);
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    letter-spacing: 4px;
    overflow: hidden;
    user-select: none;

    width: 320px;
    height: 60px;
    /*border: solid 2px rgb(200, 200, 200);*/
    background: none;
    animation: .6s ease-out appear;
    animation-fill-mode: both;
    animation-delay: 1.4s;
}

#status-foot {
    position: absolute;
    margin-top: 10px;
    bottom: 0;
    right: 0;
    width: 200px;
    border-top: solid 2px rgb(200, 200, 200);
}

#logger {
    position: absolute;
    text-transform: uppercase;
    right: 0;
}

#current-player {
    display: inline;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: bold;
    text-align: right;
}

#game-three {
    z-index: 0;
    position: absolute;
}

#back-button {
    outline: none;
    font-family: inherit;
    color: rgb(200, 200, 200);
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 6px;
    width: 240px;
    height: 50px;
    margin-top: 20px;
    border: solid 2px rgb(200, 200, 200);
    background: none;
    transition: .1s ease-in-out;
    animation: .8s ease-out button-appear;
    animation-fill-mode: both;
    animation-delay: 1.4s;

}

#back-button:hover {
    outline: none;
    cursor: pointer;
    background: rgba(200, 200, 200, .4);
}

#back-button:focus {
    outline: none;
    cursor: pointer;
    background: rgba(200, 200, 200, .4);
}

#back-button:active {
    transition: .05s;
    border: solid 2px rgb(200, 200, 200);
    color: rgb(200, 200, 200);
    font-size: 26px;
    letter-spacing: 5px;
    outline: none;
    background: rgba(200, 200, 200, .4);
}
